@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Anek Latin', sans-serif;
}

.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.DateBlock {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 3rem;
}

.DateElementDesc {
  padding: 1rem 1rem 0rem 1rem;
  font-size: 0.5ch;
}

.DateElementValue {
  background-color: aquamarine;
  padding: 0.5rem;
  margin: 2rem;
  border-radius: 0.3rem;
  font-size: 5ch;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5)
}